<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>註冊</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <p class="description">請在 5 秒內念出以下句子來註冊</p>
        <p class="check_sentence">請確認我的聲音</p>
        <a href="/register_recording" class="recording"><i class="fa-solid fa-microphone" style="color: #2e4036;"></i></a>
    </div>
    

    {% if message %}
    <script>
    document.addEventListener('DOMContentLoaded', (event) => {
        alert('{{ message }}');
    });
    </script>
    {% endif %}
</body>
</html>